/* Icon rollover - Restore */
table th.actions .fa-history:hover,
table td.actions .fa-history:hover {
  background-color: #9fc820;
  color: #ffffff;
}

table tbody tr.highlight.action-restore td {
  background-color: #f8fceb;
  border-color: #e0f1a9;
}

table tbody tr.before-highlight.action-restore td {
  border-bottom-color: #e0f1a9;
}

/* PowerTip - Restore */
#powerTip.restore {
  background-color: #9fc820;
}

#powerTip.restore.n:before,
#powerTip.restore.ne:before,
#powerTip.restore.nw:before {
  border-top-color: #9fc820;
}

#powerTip.restore.e:before,
#powerTip.restore.nw:before,
#powerTip.restore.sw:before {
  border-right-color: #9fc820;
}

#powerTip.restore.s:before,
#powerTip.restore.se:before,
#powerTip.restore.sw:before {
  border-bottom-color: #9fc820;
}

#powerTip.restore.w:before {
  border-left-color: #9fc820;
}
