<div data-hook="admin_style_form_fields" class="col-md-12">
  <div class="form-group 12-row">
    <div data-hook="admin_stylesheet_form_style_raw" class="form-group field">
      <%= f.field_container :style_raw, class: ['form-group'] do %>
        <%= f.label :style_raw, Spree.t('dandify.admin.labels.style_raw') %>
        <%= f.text_area :style_raw, rows: '13', class: 'form-control ' %>
        <br/><span class="help-block"><%= Spree.t('dandify.admin.notes.sass') %></span>
      <% end %>
    </div>
  </div>
</div>
